body {
	padding-block: var(--space-base);
	padding-inline: 20%;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	text-wrap: pretty;
	font-size: calc(1rem + 0.1vw);
	line-height: 1.5;
	min-height: 100vh;
	color: var(--font);
	display: flex;
	flex-direction: column;
	gap: var(--space-base);
	font-family: 'text-font', 'Lucida Sans', Verdana, sans-serif;
}
@font-face {
	font-family: 'headers-font';
	src: url(assets/fonts/DotMatrix-Regular.ttf);
}
@font-face {
	font-family: 'text-font';
	src: url(assets/fonts/WorkSans-Medium.ttf);
}
:root {
	--space-base: 1rem;

	/* --primary: hsl(227, 95%, 25%); */
	--primary: hsl(215, 95%, 25%);
	/* --secondary: hsl(175, 66%, 51%); */
	--secondary: hsl(170, 66%, 51%);

	--light-always: #f5f0f0;
	--dark-always: #080e21;

	--bg: #f5f0f0;
	--font: #050915;

	--shadow:
		inset 0 1px 2px var(--light-always), 0 1px 2px var(--bg),
		0 1px 2px var(--secondary);
}
*::selection {
	background-color: var(--primary);
	color: var(--bg);
}
/* General default display*/
body,
nav {
	background-color: var(--bg-body);
	background: url(assets/background/background_light.webp) top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	transition:
		background-color 0.6s ease,
		background 0.6s ease;
}
main > section > article a.call-to-action-btn {
	align-self: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calc(var(--space-base) / 2);
	border-radius: calc(var(--space-base) * 2) calc(var(--space-base) / 2)
		calc(var(--space-base) * 2) calc(var(--space-base) / 2);
	box-shadow: var(--shadow);
	background: linear-gradient(
		60deg,
		var(--dark-always),
		var(--primary),
		var(--primary),
		var(--primary),
		var(--dark-always)
	);
	color: var(--light-always);
	transition:
		border-radius ease 0.6s,
		box-shadow ease 0.6s,
		ease 0.6s,
		box-shadow ease 0.6s,
		ease 0.6s;
}
main > section > article a.call-to-action-btn:active {
	border-radius: calc(var(--space-base) / 2) calc(var(--space-base) / 2);
}
a:visited {
	color: inherit;
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calc(var(--space-base) / 2);
	border: none;
	border-radius: 999rem;
	cursor: pointer;
	box-shadow: var(--shadow);
	background-color: transparent;
	opacity: 0.8;
	transition:
		opacity ease 0.6s,
		box-shadow ease 0.6s;
}
svg {
	height: calc(var(--space-base) * 2);
	width: auto;
	fill: var(--font);
}
.silktide-logo svg {
	fill: var(--primary);
}
nav svg:active,
.dark-light-btn svg:active,
footer svg:active {
	fill: var(--secondary);
}
a.call-to-action-btn > svg:active {
	fill: inherit;
}
h1,
h2 {
	font-weight: bold;
	font-size: calc(1.2rem + 0.1vw);
	font-family: 'headers-font', 'Courier New', Courier, monospace;
}
h1 {
	color: var(--primary);
}
main > section > article.grid-container > div.portfolio-item,
main > section > article.grid-container > div.stack-item,
main > section > article.grid-container > div.services-item {
	box-shadow: 0px 0px 5px var(--font);
}
main > section.sub-container.solid-bg {
	box-shadow: 0px 0px 5px var(--font);
}
p {
	max-width: 70ch;
}

/* Dark / light btn */
button.dark-light-btn {
	border: none;
	box-shadow: none;
}
.dark-light-btn .icon > svg {
	display: none;
	width: calc(var(--space-base) * 2);
	height: auto;
	transition: fill ease 0.6s;
}

/* ----------Header---------- */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: calc(var(--space-base) * 4);
	/* Logo click to index */
	a {
		display: flex;
		align-items: center;
	}
}
img.logo-header {
	height: calc(var(--space-base) * 2);
	width: auto;
	filter: invert(20%);
}
/* ----------nav---------- */
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(var(--space-base) * 4);
	position: sticky;
	top: 0;
	border-bottom: 2px solid var(--primary);
	border-radius: var(--space-base) var(--space-base) calc(var(--space-base) * 4)
		calc(var(--space-base) * 4);
	z-index: 999;
}
nav > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: calc(var(--space-base) * 3);
}
nav > ul > li {
	display: flex;
	list-style: none;
}
nav > ul > li > a {
	opacity: 0.8;
}
nav > ul > li > a.active {
	opacity: 1;
	fill: var(--primary);
	& svg {
		fill: inherit;
	}
}
.menu-svg-container > svg {
	height: calc(var(--space-base) * 3);
	transition: fill ease 0.6s;
}

/* ----------Main---------- */
main {
	border-top: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	border-radius: var(--space-base);
	padding-top: 0;
	padding-inline: 0;
	margin-block: calc(var(--space-base) * 3);
}
main > section.sub-container {
	display: flex;
	flex-direction: column;
	padding-inline: calc(var(--space-base) * 3);
	padding-block: calc(var(--space-base) * 3);
	border-radius: calc(var(--space-base));
}
main > section.sub-container:not(:last-of-type) {
	margin-bottom: calc(var(--space-base) * 2);
}
main > section.sub-container.solid-bg {
	background-color: var(--bg);
	transition: background-color 0.6s ease;
}

/* ----------Main----------Duo container---------- */
main > section > article.duo-container {
	display: grid;
	gap: calc(var(--space-base) * 4);
	grid-template-columns: 2fr 1fr;
}
main > section > article .hero-logo {
	max-width: calc(var(--space-base) * 10);
	filter: invert(20%);
	align-self: center;
}
main > section > article.duo-container > .duo-left,
main > section > article.duo-container > .duo-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: calc(var(--space-base) * 2);
}
main > section > article #call-to-action-portfolio {
	margin-bottom: calc(var(--space-base) * 2);
	min-width: calc(var(--space-base) * 10);
	text-align: center;
}
/* ----------Main----------grid container---------- */
main > section > article.grid-container {
	display: grid;
	grid-auto-rows: 1fr;
	margin-top: var(--space-base);
}
main > section > article.grid-container h2 {
	border-radius: var(--space-base) var(--space-base) 0 0;
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 0;
	background-color: var(--primary);
	color: var(--secondary);
	padding: calc(var(--space-base) / 2);
	overflow: hidden;
}
main > section > article.grid-container > div {
	background-color: var(--bg);
	border-radius: calc(var(--space-base) / 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: calc(var(--space-base) * 3);
}
/* !!! -----SET FOR DIFFERENT GRID TYPES SEPARETLY----- */

/* .tech-stack-container */
main > section > article.grid-container.tech-stack-container {
	gap: calc(var(--space-base) * 2);
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(var(--space-base) * 8), 1fr)
	);
}
main > section > article.grid-container > div.stack-item {
	gap: var(--space-base);
	& h2 {
		font-size: calc(0.8rem + 0.1vw);
	}
}
main > section > article.grid-container > .stack-item > svg {
	width: 50%;
	height: auto;
	transition: fill ease 0.6s;
	margin-top: calc(var(--space-base) / 2);
	filter: invert(20%);
}
/* Not hidden in media queries (hover) because behavior looks well as it is on mobile device -> just decoration and it's okay for the fill color to be kept after tap */
main > section > article.grid-container > .stack-item > svg:hover {
	&#html {
		fill: #e34f26;
	}
	&#css {
		fill: #663399;
	}
	&#js {
		fill: #f7df1e;
	}
	&#webpack {
		fill: #8dd6f9;
	}
	&#npm {
		fill: #cb3837;
	}
	&#xubuntu {
		fill: #0044aa;
	}
	&#git {
		fill: #f05032;
	}
	&#ga {
		fill: #e37400;
	}
	&#jest {
		fill: #c21325;
	}
	&#react {
		fill: #61dafb;
	}
	&#ghcopilot {
		fill: #000000;
	}
}
/* .portfolio-container*/
main > section > article.grid-container.portfolio-container {
	gap: calc(var(--space-base) * 4);
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(var(--space-base) * 15), 1fr)
	);
}

main > section > article.grid-container > div.portfolio-item {
	gap: calc(var(--space-base) * 2);
}
main > section > article > .portfolio-item > img {
	opacity: 0.8;
	max-width: 70%;
	transition: opacity ease 0.6s;
	&#calculator {
		max-width: 50%;
	}
	&#carousel {
		max-width: 50%;
	}
	&:hover {
		opacity: 1;
	}
}
main > section > article > .portfolio-item > div.portfolio-item-btns-container {
	display: flex;
	justify-content: center;
	gap: var(--space-base);
	width: 100%;
}
main > section > article > .portfolio-item > div.tools-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-base);
	justify-content: center;
	align-items: center;
	padding-inline: calc(var(--space-base) * 2);
	& svg {
		width: calc(var(--space-base) * 2);
		height: auto;
		fill: var(--font);
		opacity: 0.8;
	}
}
main > section > article a.call-to-action-btn.portfolio-item-btn {
	min-width: calc(var(--space-base) * 6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: calc(var(--space-base) / 2);
	color: var(--light-always);
	background-color: var(--primary);
	& svg {
		fill: var(--light-always);
	}
}
main > section > article a.call-to-action-btn.portfolio-item-btn:active {
	background: none;
	background-color: var(--dark-always);
}
main > section > article.grid-container p {
	text-align: center;
	margin-inline: calc(var(--space-base) * 3);
}
main > section > article div.call-to-contact {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--space-base) * 2);
}
/* Services.html */
main > section > article.grid-container.services-container {
	gap: calc(var(--space-base) * 4);
}
main > section > article.grid-container > div.services-item {
	gap: var(--space-base);
}
main > section > article.services-container ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: calc(var(--space-base) * 4);
	padding-block: calc(var(--space-base) * 2);
	padding-inline: 0;
	align-items: center;
	justify-content: center;
	& li {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		gap: var(--space-base);
	}
	& svg {
		width: 15%;
		height: auto;
	}
	& a {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-base);
	}
}
main > section > article #call-to-action-services {
	min-width: calc(var(--space-base) * 12);
	padding: var(--space-base);
}
/* Contact.html */
main > section > article.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: calc(var(--space-base) * 4);
	min-height: 50vh;
	& a {
		display: inherit;
		flex-direction: inherit;
		align-items: inherit;
		justify-content: inherit;
		gap: calc(var(--space-base) * 1);
		text-decoration: none;
		fill: var(--font);
		transition:
			fill ease 0.6s,
			color ease 0.6s;
		color: inherit;
	}
}
main > section > article.contact-container a:active {
	color: var(--secondary);
	fill: var(--secondary);
}
main > section > article.contact-container .contact-svg {
	height: auto;
	width: calc(var(--space-base) * 3);
	fill: inherit;
}

/* ----------Footer---------- */
footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: calc(var(--space-base));
	align-items: center;
	justify-content: center;
}
footer > a {
	color: var(--font);
	text-decoration: none;
	opacity: 0.8;
	font-size: 0.8rem;
	font-family: 'text-font', 'Lucida Sans', Verdana, sans-serif;
	font-weight: lighter;
	transition: color 0.6s ease;
	& svg {
		height: auto;
		width: calc(var(--space-base) * 2);
	}
}
footer > a:active {
	color: var(--secondary);
}
footer > img {
	height: auto;
	width: calc(var(--space-base) * 6);
	opacity: 0.8;
	filter: invert(20%);
}
footer svg {
	opacity: 0.8;
	transition: fill ease 0.6s;
}

/* Intersection observer */
.site-header {
	opacity: 0;
	transform: translateY(-30%);
	transition:
		opacity 0.9s ease,
		transform 0.9s ease;
}
.sub-container > h1 {
	opacity: 0;
	transform: translateY(-100%);
	transition:
		opacity 0.9s ease,
		transform 0.9s ease;
}
.contact-container,
section > article > * {
	opacity: 0;
	transform: translateY(20%);
	transition:
		opacity 0.9s ease,
		transform 0.9s ease;
}
.sub-container > h1.show,
section > article > *.show,
.contact-container.show,
.site-header.show {
	opacity: 1;
	transform: translateY(0);
}

/* Theme dark */
[data-theme='light'] .dark-light-btn .icon-light > svg {
	display: block;
}
[data-theme='dark'] {
	--bg: #050915;
	--font: #f5f0f0;

	body,
	nav {
		background-color: var(--bg-body);
		background: url(assets/background/background_dark.webp) top center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		transition:
			background-color 0.6s ease,
			background 0.6s ease;
	}

	.dark-light-btn .icon-dark > svg {
		display: block;
	}

	h1 {
		color: var(--secondary);
	}

	main > section.sub-container.solid-bg,
	main > section > article.grid-container > div.portfolio-item,
	main > section > article.grid-container > div.stack-item,
	main > section > article.grid-container > div.services-item {
		box-shadow: 0px 0px 5px var(--primary);
	}

	img.logo-header,
	footer > img,
	main > section > article .hero-logo {
		filter: invert(80%);
	}
}
/* Media queries */
@media (max-width: 1024px) {
	body {
		padding-inline: 10%;
	}
	nav > ul {
		gap: calc(var(--space-base) * 2);
	}
	main > section.sub-container {
		padding-inline: calc(var(--space-base) * 2);
	}
	main > section > article.duo-container {
		grid-template-columns: 3fr 1fr;
	}
}
@media (max-width: 768px) {
	body {
		padding-inline: calc(var(--space-base) * 1.5);
	}
	nav > ul {
		gap: var(--space-base);
	}
	main > section.sub-container {
		padding-inline: calc(var(--space-base) * 1);
	}
	main > section > article.duo-container {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}
	main > section > article .hero-logo {
		width: 50%;
	}
	main > section > article a.call-to-action-btn {
		margin-top: var(--space-base);
	}
	main > section > article > .portfolio-item > img {
		max-width: 50%;
	}
	main > section > article #call-to-action-services {
		margin-bottom: calc(var(--space-base) * 2);
	}
	main > section > article div.call-to-contact {
		flex-direction: column;
	}
}
@media (hover: hover) {
	main > section > article a.call-to-action-btn:hover {
		border-radius: calc(var(--space-base) / 2) calc(var(--space-base) / 2);
	}
	nav svg:hover,
	.dark-light-btn svg:hover,
	footer svg:hover {
		fill: var(--secondary);
	}
	a.call-to-action-btn > svg:hover {
		fill: inherit;
	}
	main > section > article a.call-to-action-btn.portfolio-item-btn:hover {
		background: none;
		background-color: var(--dark-always);
	}
	main > section > article.contact-container a:hover {
		color: var(--secondary);
		fill: var(--secondary);
	}
	footer > a:hover {
		color: var(--secondary);
	}
}
